.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

  .featuredItem{
    position: relative;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
}

.featuredImg{
    width: 450px;
    object-fit: contain;
    z-index: -1;
} 

 .featuredTitles{
    position: absolute;
    /* left: 40px; */
    top: 160px;
    background-color: rgba(74, 80, 80, 0.2);
    width: 100%;
} 

.featuredTitles>h2{
    font-weight: 600;
    margin-left: 40px;

}

.featuredTitles>h1{
    margin-left: 40px;

}